name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
          - '3.0'
          - '3.1'
          - '3.2'
          - 'ruby-head'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install Exiftool
        run: |
          curl -L http://cpanmin.us | perl - --sudo Image::ExifTool
          export PATH=/usr/local/bin:$PATH
          exiftool -ver
      - name: Install Dependencies
        run: |
          bundle install
      - name: Run Tests
        run: |
          rake

